<h1 class="page-header">User#index <%= link_to "New", new_user_path,:class => "btn btn-lg btn-success"%></h1>

<table class="table table-striped table-bordered">
	<thead>
		<th>Email</th>
		<th>Options</th>
	</thead>
	<tbody>
		<% @users.each do |u|%>
			<tr>
				<td><%= u.email%></td>
				<td><%= link_to "Edit", edit_user_path(u),:class =>"btn btn-xs btn-warning" %></td>
			</tr>
		<%end%>
	</tbody>
</table>