<div class="well col-md-4">
  <div class="col-md-10">
    <%= simple_form_for @dojo, :html => { :class => "form-horizontal" } do |f| %>
      <%=f.input :name, required: false%>
      <%= f.button :submit%>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                dojos_path, :class => 'btn btn-default' %>
    <% end %>    
  </div>
</div>
