<h1 class="page-header">Dojos
  <%= link_to new_dojo_path, class: "btn btn-lg btn-success col-md-offset-1" do%>
    <span class="glyphicon glyphicon-plus"></span>
    New
  <%end%>
</h1>
<br>

<table class="table table-bordered table-striped">
  <thead>
    <th class="col-md-10">Dojo Name</th>
    <th>Options</th>
  </thead>  
  <tbody>
    <%@dojos.each do |d|%>
      <tr>
        <td><%=d.name%></td>
        <td>
          <%= link_to edit_dojo_path(d), :class => "btn btn-xs btn-warning"  do%>
          <span class="glyphicon glyphicon-pencil"></span>
          Edit
          <%end%>&nbsp;
          <%= link_to d, method: :delete, data: {confirm: "Are you sure?"}, :class => "btn btn-xs btn-danger"  do%>
          <span class="glyphicon glyphicon-trash"></span>
          Delete
          <%end%>
        </td>
      </tr>
    <%end%>
  </tbody>
</table>
