<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bug report</h1>
    <p><b>Reporter: </b><%=@user%></p>
    <p><b>Description: </b><%=@descrip%></p>
  </body>
</html>