.progress {
  max-width: 600px;
  margin:    0.2em 0 0.2em 0;
}

.progress .bar {
  height:  1.2em;
  padding: 0.2em;
  color:   white;
  display: none;
}

.listed-vid {
	height: 8em;
}

.listed-vid ul {
	list-style-type: none;
	margin-left: -3.5%;
	margin-top: -1%;
}

.listed-vid ul div {
	margin-left: -2.75%;
	margin-top: -2%;
}

.listed-vid img {
	height: 110px;
	width: 196px;
	border: 1px solid #b2b2b2;
}

.listed-vid hr {
	margin: 1.5%;
}

.video-details {
	width: 854px;
	
}

footer p {
	text-align:center;
}

.logo {
	height:50px;
	max-width:100px; 
	margin-top: -15px;
}

.uploader {
	display: inline;
}

.uploader_avatar {
	vertical-align: text-top;
}
