<div class="well col-md-4">
  <div class="col-md-10">
    <%= simple_form_for(@category) do |f| %>      

      <%=f.input :category_name, label: "Category", required: false%>
      <%=f.button :submit%>
      <%=link_to "Back", categories_path, class: "btn btn-default"%>

    <% end %>    
  </div>
</div>

