<h1 class="page-header">Categories
  <%= link_to new_category_path, class: "btn btn-lg btn-success col-md-offset-1" do%>
    <span class="glyphicon glyphicon-plus"></span>
    New
  <%end%>
</h1>
<br>

<table class="table table-bordered table-striped">
  <thead>
    <th class="col-md-8">Category Name</th>
    <th>Options</th>
  </thead>  
  <tbody>
    <%@categories.each do |c|%>
      <tr>
        <td><%=c.category_name%></td>
        <td>
          <%= link_to edit_category_path(c), :class => "btn btn-xs btn-warning"  do%>
          <span class="glyphicon glyphicon-pencil"></span>
          Edit
          <%end%>&nbsp;
          <%= link_to c, method: :delete, data: {confirm: "Are you sure?"}, :class => "btn btn-xs btn-danger"  do%>
          <span class="glyphicon glyphicon-trash"></span>
          Delete
          <%end%>
        </td>
      </tr>
    <%end%>
  </tbody>
</table>
