<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active"><a href="#">All</a></li>
        <%@categories = Category.all.order(:category_name)%>
        <%@categories.each do |c|%>
        <li><a href=""><%= c.category_name%></a></li>
        <li></li>
        <%end%>
    </ul>          
</div>