<div class="container">
	<h1 class="page-header">User Management &nbsp; <%= link_to "New", new_account_path, :class => "btn btn-success" %></h1>


	<div class="table-responsive">
		<table class="table-bordered table striped">
			<thead>
				<th>Email</th>
			</thead>
			<tbody>
				<%@users.each do |u|%>
				<tr>
					<td><%= u.email%></td>
				</tr>
				<%end%>
			</tbody>			
		</table>		
	</div>	

</div>